language: python
python:
  - "2.7"
# command to install dependencies
install: 
  - "pip install -r requirements.txt"
  - "pip install pytest-cov"
# command to run tests
script: py.test tests/ --cov pysqes --cov-report term-missing
